QWidget {
  background-color: #fff;
}

QPushButton {
  background-color: #006fc7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
}
QPushButton:hover {
  background-color: #2ea3ff;
}
QPushButton:pressed {
  background-color: #0061ae;
}

QLineEdit {
  background-color: #59595b;
  border-radius: 5px;
  color: #fff;
  font-size: 14pt;
  min-height: 30px;
}
QLineEdit:hover {
  border: 3px solid #727274;
}
QLineEdit:focus {
  border: 3px solid #2ea3ff;
}

QLabel {
  background-color: #404041;
  color: #d9d9da;
  font-size: 11pt;
}

QListWidget {
  background-color: #59595b;
  color: #fff;
  font-size: 14pt;
  border-radius: 5px;
}
QListWidget::item:hover {
  background: #727274;
}
QListWidget::item:selected {
  color: #fff;
  background: #006fc7;
}

QTableWidget {
  background-color: transparent;
  padding: 10px;
  border-radius: 3px;
  gridline-color: #f5bb22;
  border-bottom: 1px solid #333334;
}
QTableWidget::horizontalHeader {
  background-color: #f5bb22;
  color: #fff;
}
QTableWidget::item {
  border: 1px solid #8c8c8e;
}

QHeaderView::section {
  background-color: #404041;
  color: #fff;
  min-width: 100px;
  border-style: none;
  border: 1px solid #8c8c8e;
}

QScrollBar {
  border: none;
  background-color: #333334;
  margin: 0;
}
QScrollBar:horizontal {
  height: 8px;
}
QScrollBar:vertical {
  width: 8px;
}
QScrollBar::handle {
  background-color: #006fc7;
  border-radius: 4px;
}
QScrollBar::handle:horizontal {
  min-width: 25px;
}
QScrollBar::handle:vertical {
  min-height: 25px;
}
QScrollBar::add-line {
  border: none;
  background-color: #333334;
}
QScrollBar::add-line:horizontal {
  width: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}
QScrollBar::add-line:vertical {
  height: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
QScrollBar::sub-line {
  border: none;
  background-color: #333334;
}
QScrollBar::sub-line:horizontal {
  width: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
  height: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
QScrollBar::up-arrow {
  background-color: transparent;
}
QScrollBar::down-arrow {
  background-color: transparent;
}
QScrollBar::add-page {
  background-color: transparent;
}
QScrollBar::sub-page {
  background-color: transparent;
}

QRadioButton {
  background-color: #404041;
  color: #fff;
}

#menuBackground_frame {
  background-color: #2b2b2c;
}

#topLogoInfo_frame {
  background-color: #2b2b2c;
}

#topLogo_frame {
  background-color: #2b2b2c;
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/o_logo_white.png");
  background-repeat: no-repeat;
  background-position: center;
}

#lbl_titleApp {
  background-color: #2b2b2c;
  font-size: 12pt;
  color: #fff;
}

#lbl_subtitleApp {
  background-color: #2b2b2c;
  font-size: 12pt;
  color: #fff;
}

#btn_toggle {
  color: #fff;
  background-color: #2b2b2c;
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/icon_menu.png");
  background-repeat: no-repeat;
  background-position: left center;
  border: none;
  border-radius: 0px;
  border-left: 20px solid transparent;
  text-align: left;
  padding-left: 44px;
}
#btn_toggle:hover {
  background-color: #333334;
}
#btn_toggle:pressed {
  background-color: #404041;
}

#menu_frame, #topMenu_frame, #bottomMenu_frame, #btn_settings {
  background-color: #2b2b2c;
}

#topMenu_frame QPushButton {
  color: #fff;
  background-color: #2b2b2c;
  background-repeat: no-repeat;
  background-position: left center;
  border: none;
  border-left: 20px solid transparent;
  text-align: left;
  padding-left: 44px;
}
#topMenu_frame QPushButton:hover {
  background-color: #333334;
}
#topMenu_frame QPushButton:pressed {
  background-color: #404041;
}

#btn_home {
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/cil-home.png");
}

#btn_project {
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/cil-folder-open.png");
}

#btn_company {
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/cil-people.png");
}

#btn_plan {
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/cil-library.png");
}

#btn_dispatch {
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/cil-paper-plane.png");
}

#btn_archive {
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/cil-save.png");
}

#btn_settings {
  color: #fff;
  background-image: url("/Users/guillaume/Code/omx_db/src/main/resources/base/icons/images/icon_settings.png");
  background-repeat: no-repeat;
  background-position: left center;
  border: none;
  border-left: 20px solid transparent;
  text-align: left;
  padding-left: 44px;
}

#topBarBackground_frame {
  background-color: #2b2b2c;
}

#topBarLeftBox_frame {
  background-color: #2b2b2c;
}

#lbl_topBarLeftBoxTitle {
  padding-left: 10px;
  color: #fff;
  background-color: transparent;
}

#topBarRightBox_frame {
  background-color: #2b2b2c;
  padding-right: 5px;
}
#topBarRightBox_frame QPushButton {
  background-color: #2b2b2c;
  border: none;
  border-radius: 5px;
}
#topBarRightBox_frame QPushButton:hover {
  background-color: #333334;
  border-style: solid;
  border-radius: 4px;
}
#topBarRightBox_frame QPushButton:pressed {
  background-color: #404041;
  border-style: solid;
  border-radius: 4px;
}

#contentBackground_frame, #content_frame, #container_frame, #stackedWidget {
  background-color: #404041;
}

#bottomBarBackground_frame {
  background-color: #333334;
}

#lbl_credits {
  background-color: #333334;
  padding-left: 5px;
  color: #7f7f81;
  font-style: italic;
}

#lbl_version {
  background-color: #333334;
  padding-right: 5px;
  color: #fff;
}

#home_frame {
  background-color: #404041;
}

#project_frame {
  background-color: #404041;
}

#companyPage_frame,
#company_frame,
#companyList_frame,
#companyForm_frame,
#companyCityInfo_frame,
#companyPostCode_frame,
#companyCity_frame,
#contact_frame,
#contactList_frame,
#contactForm_frame,
#contactStatus_frame,
#contactType_frame {
  background-color: #404041;
}

#company_frame,
#contact_frame {
  border: 1px solid #59595b;
  border-radius: 10px;
}

#dispatch_frame {
  background-color: #404041;
}

#plan_frame {
  background-color: #404041;
}

#archive_frame {
  background-color: #404041;
}

#settings_frame {
  background-color: #404041;
}

/*# sourceMappingURL=main.css.map */
